/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/
.layout{
	display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows:
    [RowsStart]
	10px
	[Header]
	60px
	[HeaderEnd]
	10px
	[Main]
	1fr
	[MainEnd]
	10px
	[Footer]
	40px
	[FooterEnd]
	30px
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[MainLeft]
	minmax(320px,1160px)
	[MainRight]
	1fr
	[ColEnd];
}

header{
	height: 100%;
    display: grid;
	grid-row: Header / HeaderEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}
main{
	height: 100%;
	width: 100%;
    display: grid;
    grid-row: Main / MainEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

footer{
	height: 100%;
    display: grid;
    grid-row: Footer / FooterEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	text-align: center;
} 
/*inherit to pin footer*/
body,html{
		height: 100%;
	}

/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'RobotoMono-Bold';
	src: url('../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMono-Regular';
	src: url('../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/

body {
	background: url(/static/meter/images/background.png); /* Цвет заливки и путь к фоновому изображению */
	color: #222222;
	line-height: 24px;
	font: 16px RobotoMono-Regular;
}

p{
	margin-bottom: 15px;
}

h1 {
	font: 25px RobotoMono-Bold;
}

a{
	color: #222222;
  }

a:hover{
	color: #7cb5ec;

  }

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
header{
	border-bottom: 7px double #2D3B5B;
}
.Logo{
	margin-left: 20px;
	font: 25px RobotoMono-Bold;
	text-decoration: none;
	color: #000000 !important;
}
.navbar-menu__checkbox {
	display: none;
}
.navbar-menu{
	margin-right: 20px;
	display: flex;
}
.navbar-menu li{
	display: inline-flex;
	align-items: center;
	margin-left: 25px;
}
.navbar-menu a{
	margin-right: 20px;
	font: 20px RobotoMono-Bold;
	text-decoration: none;
	color: #000000 !important;
}
/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer{
	border-top: 7px double #2D3B5B;
	} 
/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
panel
--------------------------------------------------------------*/
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.panel{
	margin-bottom: 20px;
}

.panel form{
	display: flex;
	justify-content: center;
}
.meter{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	margin: 20px;
	color: #000000 !important;
	background: #7cb5ec;
	border-radius: 10px;
	text-decoration: none;
	border: #d1d1d1 solid 2px;
}

.meter:hover{
	border: #fafafa solid 2px;
}

.meter-active{
	border: #000000 solid 2px;
}

.meter__img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	width: 200px;
}
.meter__img img{
	width: 100%;
}
.meter__count{
	font: 25px RobotoMono-Bold;
	letter-spacing: 2px;
	margin-top: 15px;
	border: 7px double #2D3B5B;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
}
.meter input[type="number"]{
	width: 90%;
}

.meter__count--black{
	background: #000000;
	color: #fafafa;
}
.meter__count--red{
	background: #dc0c1e;
	color: #fafafa;
}

.meter__consumption{
	font: 25px RobotoMono-Bold;
	margin-bottom: 15px;
}

.meter__checkupDate{
	display: flex;
	flex-direction: column;
	align-items: center;
	font: 16px RobotoMono-Bold;
	margin-bottom: 15px;
}

.meter__transfer{
	width: 100%;
	font: 20px RobotoMono-Bold;
	border: 7px double #2D3B5B;
	background-color: #d6d6d6;
	text-decoration: none;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.meter__transfer:hover{
	cursor: pointer;
	border: 7px double #0361a3;
}

.general-inf{
	background: #fafafa;
	border-radius: 10px;
	margin-top: 30px;
}

.graph{
	width: 100%;
}

.graph-none{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.history li{
	width: 100%;
	display: flex;
}
.history__date{
	width: 30%;
}
.history__action{
	width: 50%;
	padding-left: 5px;
}
.history__value{
	width: 20%;
}

.general-inf p{
	margin: 30px;
}

/*--------------------------------------------------------------
account
--------------------------------------------------------------*/
.account{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.errorlist{
	padding-left: 35px;
}

.account form ul{
	padding-left: 35px;
}

.account form p{
	display: flex;
	flex-direction: column;
}
.account-center{
	align-items: center;
}

.account form p input[type="submit"]{
	margin-top: 20px;
}

.login{
	margin-left: 20px;
	font: 20px RobotoMono-Bold;
	text-decoration: none;
	color: #000000 !important;
}

@media screen and (min-width : 320px) and (max-width : 768px){

	.panel{
		align-items: center;
	}
	.meter{
		width: 100px;
		margin: 0px;
	}
	.meter__img{
		width: 100px;
	}
	.meter__count{
		font: 14px RobotoMono-Bold;
		letter-spacing: 2px;
		margin-top: 5px;
		border: 7px double #2D3B5B;
		border-radius: 10px;
	}
	.meter__consumption{
		font: 13px RobotoMono-Bold;
	}
	.meter__checkupDate{
		font: 10px RobotoMono-Bold;
	}
	.meter__transfer{
		font: 13px RobotoMono-Bold;
	}
	.meter input[type="number"]{
		width: 81%;
	}
	.navbar-menu a{
		margin-right: 5px;
		display: flex;
	}
}

