{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>meter</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="{% static 'meter/CSS/style.css' %}" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'meter/images/Favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'meter/images/Favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'meter/images/Favicon/favicon-16x16.png' %}">

	
</head>
<body>
	<div class="layout">
		<header>
			<div class="login">
			{% if request.user.is_authenticated %}
				{{ request.user.username }}|
				<a href="{% url "logout" %}">Выйти</a>
			{% else %}
				<a href="{% url "login" %}">Личный кабинет</a>
			{% endif %}
			</div>
			<nav class="navbar-menu">
				<input type="checkbox" id="checkbox" class="navbar-menu__checkbox">
				<label for="checkbox" class="navbar-menu__btn"><div class="navbar-menu__icon"></div></label>
				<div class="navbar-menu__container">
					{% block nav %}
					{% endblock %}
				</div>
			</nav>
		</header>

		<main>
            {% block main %}
            {% endblock %}
		</main>
		<footer>

		</footer>
	</div>
	<script src="{% static 'meter\JS\ws_meter.js' %}"></script>
</body>
</html>