{% extends 'meter/base.html' %}
{%block main%}
{% load static %}
			<div class="content">
				<div class="history">
					{% for meter in history_all %}
					<h1> {{ meter.meter.name }} </h1>
					<ol>
						{% for history in meter.history %}
						<li>
							<div class="history__date">
								{{ history.date }}
							</div>
							<div class="history__action">
								{{ history.action }}
							</div>
							<div class="history__value">
								{{ history.value }}
							</div>
						</li>
						{% endfor %}
					</ol>
					{% endfor %}
				</div>
			</div>
{% endblock  %}

{%block nav%}
	<ul class="navbar-menu__list">
		<li class="navbar-menu__item"><a href="{% url "meter" %}" class="navbar-menu__link">Главная</a></li>
	</ul>
{% endblock  %}