{% extends 'meter/base.html' %}
{%block main%}
{% load static %}
			<div class="content">
				<div class="panel">
					<form action="" method="post">
						{% csrf_token %}
						<!-- Электросчетчик -->
						<div class="meter {% if active == 'electricity' %} meter-active {% endif %} ">
							<a class="meter__img" href="{% url "electricity" %}">
								<img src="{% static 'meter/images/electricity.png' %}" title="Нажмите для получения графика">
							</a>
							{% if edit == 'electr-edit' %}
								{{ EditElectrForm.value }}

								<button class="meter__transfer" name = "electr-edit-send" value = "electr-edit-send">
									изменить показания
								</button>

								<div class="meter__checkupDate">
									<span>{{ EditElectrForm.errors.value }}</span>
								</div>
							{% else %}
								<button class="meter__count" id="#electr-edit" name = "electr-edit" value = '{{ electr_count }}' onclick="return confirm('Вы уверены, что хотите изменить показания?');" title="Текущее значение на приборе">
									<span class="meter__count--black" id="#electr_count_black">{{ electr_count_black }}</span><span class="meter__count--red" id="#electr_count_red">{{ electr_count_red }}</span>
								</button>

								<div class="meter__consumption" title="Текущее потребление">
									<span id="#electr_consumption">{{ electr_consumption }}</span> Вт/ч
								</div>
							
								<button class="meter__transfer" id="#electr-transfer" name = "electr-transfer" value = '{{ electr_count }}' onclick="return confirm('Вы уверены, что хотите отправить показания?');" title="Текущее значение на приборе">
									отправить показания
								</button>

								<div class="meter__checkupDate" title="Дата следующей поверки">
									{% if electr_checkupDate %}
									<span>Дата поверки:</span><br>
									<span>{{ electr_checkupDate }}</span>
									{% endif %}
									{% if electr_num %}
										<span>Номер:</span><br>
										<span>{{ electr_num }}</span>
									{% endif %}
								</div>
							{% endif %}
						</div>

						<!-- Холодная вода -->
						<div class="meter {% if active == 'cold' %} meter-active {% endif %} ">
							<a class="meter__img" href="{% url "cold" %}">
								<img src="{% static 'meter/images/water-cold.png' %}" title="Нажмите для получения графика">
							</a>
							{% if edit == 'cold-edit' %}
								{{ EditWaterForm.value }}
						
								<button class="meter__transfer" name = "cold-edit-send" value = "cold-edit-send">
									изменить показания
								</button>
						
								<div class="meter__checkupDate">
									<span>{{ EditWaterForm.errors.value }}</span>
								</div>
							{% else %}
								<button class="meter__count" id="#cold-edit" name = "cold-edit" value = '{{ cold_count }}' onclick="return confirm('Вы уверены, что хотите изменить показания?');" title="Текущее значение на приборе">
									<span class="meter__count--black" id="#cold_count_black">{{ cold_count_black }}</span><span class="meter__count--red" id="#cold_count_red">{{ cold_count_red }}</span>
								</button>
						
								<div class="meter__consumption" title="Текущее потребление">
									<span id="#cold_consumption">{{ cold_consumption }}</span> литров
								</div>
							
								<button class="meter__transfer" id="#cold-transfer" name = "cold-transfer" value = '{{ cold_count }}' onclick="return confirm('Вы уверены, что хотите отправить показания?');" title="Текущее значение на приборе">
									отправить показания
								</button>
						
								<div class="meter__checkupDate" title="Дата следующей поверки">
									{% if cold_checkupDate %}
									<span>Дата поверки:</span><br>
									<span>{{ cold_checkupDate }}</span>
									{% endif %}
									{% if cold_num %}
										<span>Номер:</span><br>
										<span>{{ cold_num }}</span>
									{% endif %}
								</div>
							{% endif %}
						</div>

						<!-- Горячая вода -->
						<div class="meter {% if active == 'hot' %} meter-active {% endif %} ">
							<a class="meter__img" href="{% url "hot" %}">
								<img src="{% static 'meter/images/water-hot.png' %}" title="Нажмите для получения графика">
							</a>
							{% if edit == 'hot-edit' %}
								{{ EditWaterForm.value }}
						
								<button class="meter__transfer" name = "hot-edit-send" value = "hot-edit-send">
									изменить показания
								</button>
						
								<div class="meter__checkupDate">
									<span>{{ EditWaterForm.errors.value }}</span>
								</div>
							{% else %}
								<button class="meter__count" id="#hot-edit" name = "hot-edit" value = '{{ hot_count }}' onclick="return confirm('Вы уверены, что хотите изменить показания?');" title="Текущее значение на приборе">
									<span class="meter__count--black" id="#hot_count_black">{{ hot_count_black }}</span><span class="meter__count--red" id="#hot_count_red">{{ hot_count_red }}</span>
								</button>
						
								<div class="meter__consumption" title="Текущее потребление">
									<!-- <span id="#hot_consumption">{{ hot_consumption }}</span> литров -->
									Не подключен
								</div>
							
								<button class="meter__transfer" id="#hot-transfer" name = "hot-transfer" value = '{{ hot_count }}' onclick="return confirm('Вы уверены, что хотите отправить показания?');" title="Текущее значение на приборе">
									отправить показания
								</button>
						
								<div class="meter__checkupDate" title="Дата следующей поверки">
									{% if hot_checkupDate %}
									<span>Дата поверки:</span><br>
									<span>{{ hot_checkupDate }}</span>
									{% endif %}
									{% if hot_num %}
										<span>Номер:</span><br>
										<span>{{ hot_num }}</span>
									{% endif %}
								</div>
							{% endif %}
						</div>
					</form>
				</div>
				{% if active %}
					{% if gh.gh_highcharts %}
						<div class="graph">
							<script src="https://code.highcharts.com/stock/highstock.js"></script>
							<script src="https://code.highcharts.com/stock/modules/data.js"></script>
							<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
							<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

							<div id="container" style="height: 400px"></div>

							<script>
								Highcharts.setOptions({
								time: {
									timezone: 'Asia/Krasnoyarsk',
									timezoneOffset: -7 * 60
								},
								lang: {
									months: [
										'Январь', 'Февраль', 'Март', 'Апрель',
										'Май', 'Июнь', 'Июль', 'Август',
										'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
									],
									weekdays: [
										'Понедельник', 'Вторник', 'Среда', 'Четверг',
										'Пятница', 'Суббота', 'Воскресенье'
									],
									shortMonths:[
										'Янв', 'Фев', 'Март', 'Апр',
										'Май', 'Июнь', 'Июль', 'Авг',
										'Сент', 'Окт', 'Нбр', 'Дек'
									],
									downloadSVG: 'Скачать в формате SVG',
									downloadPNG: 'Скачать в формате PNG',
									downloadPDF: 'Скачать в формате PDF',
									downloadJPEG: 'Скачать в формате JPEG',
									viewFullscreen: 'На весь экран',
									printChart: 'Распечатать'
								}
							
							});
									// create the chart
									Highcharts.stockChart('container', {
									chart: {
										alignTicks: false,
										backgroundColor: '#D1D1D1',
										borderRadius: '10px'
									},
								
									rangeSelector: {
											selected: 0,
											buttons: [
											{
												type: 'day',
												count: 1,
												text: 'День',
												title: 'За 1 день'
											},
											{
												type: 'day',
												count: 3,
												text: '3дня',
												title: 'За 3 дня'
											},
											{
												type: 'day',
												count: 7,
												text: '1нед',
												title: 'За неделю'
											},				
											{
												type: 'month',
												count: 1,
												text: '1мес',
												title: 'За 1 месяца'
											}, {
												type: 'month',
												count: 3,
												text: '3мес',
												title: 'За 3 месяца'
											}, {
												type: 'month',
												count: 6,
												text: '6мес',
												title: 'За 6 месяцев'
											}, {
												type: 'ytd',
												text: 'Год',
												title: 'За год'
											}, {
												type: 'all',
												text: 'Все',
												title: 'За все время'
											}]
										},
								
									title: {
										text: '{{ gh.gh_name }}'
									},
								
									series: [{
										type: 'column',
										name: '{{ gh.gh_name }}',
										data: {{ gh.gh_highcharts }}
										{{ gh.gh_dataGrouping|safe }}
									}]
									});
							</script>
						</div>
					{% else %}
						<div class="graph-none">
							<h1>Нет данных</h1>
						</div>
					{% endif %}

				{% endif %}
			</div>
{% endblock  %}


{%block nav%}
	<ul class="navbar-menu__list">
		<li class="navbar-menu__item"><a href="{% url "history" %}" class="navbar-menu__link">История</a></li>
	</ul>
{% endblock  %}