{% extends 'meter/base.html' %}
{%block main%}
{% load static %}
			<div class="content">
				{% if error_sent %}
					<p><h1>{{ title }}</h1></p>
					<p>{{ message }}</p>
				{% else %}
					<p><h1>{{ title }}</h1></p>
					<p>{{ message }}</p>
					<p><h1>{{ value }}</h1></p>
				{% endif %}
				<p><a href="{% url "meter" %}">Вернутся на главную</a></p>
			</div>
			
{% endblock  %}