{% extends "meter/base.html" %}
{% block title %}Log-in{% endblock %}
{% block main %}
    <div class="account">
        <h1>Авторизоваться</h1>
        {% if form.errors %}
        <p>
            Исправтье следующие проблемы:
        </p>
        {% else %}
            <p>Пожалуйста, введите логин и пароль:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Войти"></p>
            </form>
        </div>
    </div>
    

{% endblock %}

{%block nav%}
	<ul class="navbar-menu__list">
		<li class="navbar-menu__item"><a href="{% url "meter" %}" class="navbar-menu__link">Главная</a></li>
	</ul>
{% endblock  %}