{% extends "meter/base.html" %}

{% block title %}Welcome{% endblock %}

{% block main %}
<div class="account account-center">
    <h1>Вы вышли из учетной записи</h1>
    <p>Но можете <a href="{% url "login" %}">авторизоваться </a>вновь,</p>
    <p>или перейти на<a href="{% url "meter" %}">главную страницу</a>.</p>
</div>

{% endblock %}


{%block nav%}
	<ul class="navbar-menu__list">
		<li class="navbar-menu__item"><a href="{% url "meter" %}" class="navbar-menu__link">Главная</a></li>
	</ul>
{% endblock  %}