{% extends 'weather/base.html' %}
{%block main%}
			<div class="content">
			
				<h1>Документация API</h1>
					<p>Вы можете получать накопленные даннные используя api!
					<a href="https://www.highcharts.com">https://www.highcharts.com</a>.</p>
					<!-- Блок описание API -->
					<h2>Все данные с датчика bm180</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по температуре и давлению</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/bm180List?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/bm180List</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li><code>temp:</code> Температура в градусах Цельсия</li>
						<li><code>pressure:</code> Давление в мм.рт.столба</li>
						<li><code>datetimerec:</code> Дата записи в базу данных GMT+7</li>
				   	</ul>
					<strong>Пример ответа (JSON):</strong>
					<code class="code-text"><pre>
[
    {
        "temp": -14.4,
        "pressure": 751.87,
        "datetimerec": "2022-02-13T16:34:02.108235+07:00"
    }
]</pre></code>
					<!--  -->

					<!-- Блок описание API -->
					<h2>Температура с датчика bm180(highcharts)</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по температуре, для графиков highcharts.</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/bm180_temp?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/bm180_temp</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li>Дата записи в базу данных а фломате UNIX GMT+0</li>
						<li>Температура в градусах Цельсия</li>
					</ul>
					<strong>Пример ответа (JSON):</strong>
					<pre>
[
	[
		1644744842000,
		-14.4
	]
]
					</pre>
					<!--  -->

					<!-- Блок описание API -->
					<h2>Даление с датчика bm180(highcharts)</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по давлению, для графиков highcharts.</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/bm180_pressure?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/bm180_pressure</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li>Дата записи в базу данных а фломате UNIX GMT+0</li>
						<li>Давление в мм.рт.столба</li>
					</ul>
					<strong>Пример ответа (JSON):</strong>
					<pre>
[
	[
		1644744842000,
		751.87
	]
]					
					</pre>
					<!--  -->

					<!-- Блок описание API -->
					<h2>Все данные с датчика dht21</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по температуре и влажности</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/dht21List?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/dht21List</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li><code>temp:</code> Температура в градусах Цельсия</li>
						<li><code>humidity:</code> Влажность в %</li>
						<li><code>datetimerec:</code> Дата записи в базу данных GMT+7</li>
				   	</ul>
					<strong>Пример ответа (JSON):</strong>
					<pre>
[
    {
        "temp": -16.1,
        "humidity": 69,
        "datetimerec": "2022-02-13T16:34:02.183573+07:00"
    }
]
					</pre>
					<!--  -->

					<!-- Блок описание API -->
					<h2>Температура с датчика dht21(highcharts)</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по температуре, для графиков highcharts.</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/dht21_temp?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/dht21_temp</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li>Дата записи в базу данных а фломате UNIX GMT+0</li>
						<li>Температура в градусах Цельсия</li>
					</ul>
					<strong>Пример ответа (JSON):</strong>
					<pre>
[
	[
		1644744842000,
		-16.1
	]
]
					</pre>
					<!--  -->

					<!-- Блок описание API -->
					<h2>Влажность с датчика dht21(highcharts)</h2>
					<p>Этот API возвращает накопленные данные в формате JSON, по влажности, для графиков highcharts.</p>
					<strong>Базовый URL</strong>
					<p style="margin-left: 60px;">GET <a href="https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/dht21_humidity?format=json" target="_blank">https://weatherstation.bolshakovsky.ru/api/v1/gh/highcharts/dht21_humidity</a></p>
					<strong>Описание полей</strong>
					<ul>
						<li>Дата записи в базу данных а фломате UNIX GMT+0</li>
						<li>Влажность в %</li>
					</ul>
					<strong>Пример ответа (JSON):</strong>
					<pre>
[
    [
        1644744842000,
        69
    ]
]					
					</pre>
					<!--  -->	
			</div>

{% endblock  %}
