{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>weather</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <link href="{% static 'weather\CSS\style.css' %}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'weather\images\Favicon\apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'weather\images\Favicon\favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'weather\images\Favicon\favicon-16x16.png' %}">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/data.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


</head>
<body>
	<div class="layout">
		<div class="dynamic-area1"></div>
		<div class="dynamic-area2"></div>
		<header>
			<nav class="navbar-menu">
				<a class="Logo" href="{% url "weather" %}">ПОГОДА</a>
				
				<ul class="navbar-menu__list">
					<li><a href="https://bolshakovsky.ru/article/weather_api/" target="_blank">API</a></li>
					<li><a href="https://bolshakovsky.ru/article/weather/" target="_blank">Статья</a></li>
				</ul>
			</nav>
		</header>
		<main>
            {% block main %}
            {% endblock %}
		</main>
		<footer>
			Как то сделано своими руками, не охраняется законом, и всем собствно срать, никто сюда не заходит, но вообщето это футер
		</footer>
	</div>
</body>

<script src="{% static 'weather\JS\ws_weather.js' %}"></script>
</html>