{% extends 'weather/base.html' %}
{%block main%}
			<div class="weather">
				<a class="weather_href" href="{% url "bmp180_temp" %}">
					<div class="weather_block {% if active == 'bmp180_temp' %} weather-active {% endif %}" title="Нажмите для получения графика">						
						<div class="weather_meter"><span id="#bm180_temp">-.-</span></div>
						<div class="weather_meter_date"><span id="#bm180_temp_date">-.-</span></div>
						<div class="weather_meter_description">{{ bmp180_temp_desc }}</div>
					</div>
				</a>
				<a class="weather_href" href="{% url "dht21_temp" %}">
					<div class="weather_block {% if active == 'dht21_temp' %} weather-active {% endif %}" title="Нажмите для получения графика">
						<div class="weather_meter"><span id="#dht21_temp">-.-</span></div>
						<div class="weather_meter_date"><span id="#dht21_temp_date">-.-</span></div>
						<div class="weather_meter_description">{{ dht21_temp_desc }}</div>
					</div>
				</a>
				<a class="weather_href" href="{% url "bmp180_pressure" %}">
					<div class="weather_block {% if active == 'bmp180_pressure' %} weather-active {% endif %}" title="Нажмите для получения графика">
						<div class="weather_meter"><span id="#bm180_pressure">-.-</span></div>
						<div class="weather_meter_date"><span id="#bm180_pressure_date">-.-</span></div>
						<div class="weather_meter_description">{{ bmp180_pressure_desc }}</div>
					</div>
				</a>
				<a class="weather_href" href="{% url "dht21_humidity" %}">
					<div class="weather_block {% if active == 'dht21_humidity' %} weather-active {% endif %}" title="Нажмите для получения графика">
						<div class="weather_meter"><span id="#dht21_humidity">-.-</span></div>
						<div class="weather_meter_date"><span id="#dht21_humidity_date">-.-</span></div>
						<div class="weather_meter_description">{{ dht21_humidity_desc }}</div>
					</div>
				</a>
			</div>
			{% if active %}
			<div div class="graph" id="container">
					<script>
						Highcharts.setOptions({
						time: {
							timezone: 'Asia/Krasnoyarsk',
							timezoneOffset: -7 * 60
						},
						lang: {
							months: [
								'Январь', 'Февраль', 'Март', 'Апрель',
								'Май', 'Июнь', 'Июль', 'Август',
								'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
							],
							weekdays: [
								'Понедельник', 'Вторник', 'Среда', 'Четверг',
								'Пятница', 'Суббота', 'Воскресенье'
							],
							shortMonths:[
								'Янв', 'Фев', 'Март', 'Апр',
								'Май', 'Июнь', 'Июль', 'Авг',
								'Сент', 'Окт', 'Нбр', 'Дек'
							],
							downloadSVG: 'Скачать в формате SVG',
							downloadPNG: 'Скачать в формате PNG',
							downloadPDF: 'Скачать в формате PDF',
							downloadJPEG: 'Скачать в формате JPEG',
							viewFullscreen: 'На весь экран',
							printChart: 'Распечатать'
						}
					
					});
						
							// Create the chart
							Highcharts.stockChart('container', {
						
						
								rangeSelector: {
									selected: 0,
									buttons: [
									{
										type: 'day',
										count: 1,
										text: 'День',
										title: 'За 1 день'
									},
									{
										type: 'day',
										count: 3,
										text: '3дня',
										title: 'За 3 дня'
									},
									{
										type: 'day',
										count: 7,
										text: '1нед',
										title: 'За неделю'
									},				
									{
										type: 'month',
										count: 1,
										text: '1мес',
										title: 'За 1 месяца'
									}, {
										type: 'month',
										count: 3,
										text: '3мес',
										title: 'За 3 месяца'
									}, {
										type: 'month',
										count: 6,
										text: '6мес',
										title: 'За 6 месяцев'
									}, {
										type: 'ytd',
										text: 'Год',
										title: 'За год'
									}, {
										type: 'all',
										text: 'Все',
										title: 'За все время'
									}]
								},
						
								title: {
									text: '{{ gh.gh_name }}'
								},
						
								tooltip: {
									style: {
										width: '200px'
									},
									valueDecimals: 4,
									shared: true
								},
						
								yAxis: {
									title: {
										text: '{{ gh.gh_name }}' 
									}
								},
								
								series: [{
									name: '{{ gh.gh_name }}',
									data: {{ gh.gh_highcharts }},
									id: 'dataseries',
									
								// the event marker flags
								}]
							});
					</script>
			</div>
			{% endif %}
{% endblock  %}