/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/
.layout{
	display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows:
    [RowsStart]
	30px
	[Header]
	60px
	[HeaderEnd]
	100px
	[Main]
	1fr
	[MainEnd]
	30px
	[Footer]
	60px
	[FooterEnd]
	30px
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[MainLeft]
	minmax(320px,1024px)
	[MainRight]
	1fr
	[ColEnd];
}

header{
	height: 100%;
    display: grid;
	grid-row: Header / HeaderEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}
main{
	height: 100%;
	width: 100%;
    display: grid;
    grid-row: Main / MainEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

footer{
	height: 100%;
    display: grid;
    grid-row: Footer / FooterEnd;
    grid-column: MainLeft/ MainRight;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	text-align: center;
} 
/*inherit to pin footer*/
body,html{
		height: 100%;
	}	

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/

.navbar-menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}


.Logo{
	font: 40px RobotoMono-Bold;
	text-decoration: none;
	color: #000000 !important;
}
.Logo:hover {
	color: #fafafa !important;
}

.navbar-menu__list{
	display: flex;
}
.navbar-menu__list a{
	margin-left: 10px;
	text-decoration: none;
	color: #000000 !important;
	font: 25px "Jura-Bold";
}

.navbar-menu__list li a:hover {
	color: #fafafa !important;
}
/*--------------------------------------------------------------
weather
--------------------------------------------------------------*/
.weather{
	display: flex;
	justify-content: center;
}
.weather_block{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 200px;
	height: 180px;
	display: flex;
	flex-direction: column;
    background: #968089;
    border: 2px dashed #e3c3d4;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #968089, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
}

.weather-active{
	border: 2px solid #e3c3d4;
}

.weather_href{
	text-decoration:none;
}
.weather_meter{
	margin-top: 25px;
	color: #fafafa;
	font: 50px "Jura-Bold";
	text-align: center;
}
.weather_meter_date{
	margin-top: 10px;
	color: #fafafa;
	font: 10px "RobotoMono-Regular";
	text-align: center;
}
.weather_meter_description{
	margin-top: 20px;
	color: #fafafa;
	font: 10px "RobotoMono-Regular";
	text-align: center;
}
/*--------------------------------------------------------------
graph
--------------------------------------------------------------*/
.graph{
	margin-top: 100px;
	border-radius: 10px;
}
#container {
    height: 400px;
	width: 100%;
}

/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Jura-Bold';
	src: url("../fonts/Jura/static/Jura-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
}	

@font-face {
	font-family: 'RobotoMono-Bold';
	src: url('../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMono-Regular';
	src: url('../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    background: linear-gradient(-45deg, #2951bd, #86cdea);
	color: #fafafa;
	font: 10px "RobotoMono-Regular";
	
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/*--------------------------------------------------------------
cloud animation
--------------------------------------------------------------*/
 .dynamic-area1   {
	position: absolute;
	width: 100%;
	height: 550px;
	top: 0;
	left: 0;
	background: url(../images/poster-drop-animate2.png) repeat fixed;
	background-size: cover;
	-webkit-animation: posterDrop1 20000s linear infinite;
	   -moz-animation: posterDrop1 20000s linear infinite;
		 -o-animation: posterDrop1 20000s linear infinite;
			animation: posterDrop1 20000s linear infinite;
	border-bottom: 3px solid white;
	
  }
  
  @-webkit-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
	 @-moz-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
	   @-o-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
		  @keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
  
  .dynamic-area2   {
	position: absolute;
	width: 100%;
	height: 550px;
	top: 0;
	left: 0;
	background: url(../images/poster-drop-animate1.png) repeat fixed;
	background-size: cover;
	-webkit-animation: posterDrop2 18000s linear infinite;
	   -moz-animation: posterDrop2 18000s linear infinite;
		 -o-animation: posterDrop2 18000s linear infinite;
			animation: posterDrop2 18000s linear infinite;
  }
  
  @-webkit-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
	 @-moz-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
	   @-o-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
		  @keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; } }





@media screen and (min-width : 320px) and (max-width : 768px){

	.layout{
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-rows:
		[RowsStart]
		30px
		[Header]
		60px
		[HeaderEnd]
		30px
		[Main]
		1fr
		[MainEnd]
		30px
		[Footer]
		60px
		[FooterEnd]
		30px
		[RowsEnd];
	
		grid-template-columns:
		[ColStart]
		1fr
		[MainLeft]
		minmax(320px,1024px)
		[MainRight]
		1fr
		[ColEnd];
	}
	.weather{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.weather_block{
		width: 130px;
		height: 130px;
	}
	.weather_meter{
		margin-top: 12px;
		font: 25px "Jura-Bold";
	}
	.weather_meter_date{
		margin-top: 10px;
		font: 10px "RobotoMono-Regular";
	}
	.weather_meter_description{
		margin-top: 10px;
		font: 10px "RobotoMono-Regular";
	}
	.graph{
		margin-top: 30px;
		border-radius: 10px;
	}
	footer{
	background: #2951bd;
	} 

}

@media screen and (min-width : 768px) and (max-width : 1024px){
	.weather{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.weather_block{
		width: 160px;
		height: 160px;
	}
	.weather_meter{
		margin-top: 20px;
		font: 40px "Jura-Bold";
	}
	.weather_meter_date{
		margin-top: 10px;
		font: 10px "RobotoMono-Regular";
	}
	.weather_meter_description{
		margin-top: 10px;
		font: 10px "RobotoMono-Regular";
	}
}


